<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.UntitledBistro.model.seobis.Seobis_MemberDAO">
  
  <insert id="Seobis_MemberInsert" parameterType="com.bit.UntitledBistro.model.seobis.Seobis_MemberDTO">
 	<![CDATA[
 	INSERT 
 	INTO MEMBER(
 	MEMBER_ID, 
 	MEMBER_NAME, 
 	MEMBER_GENDER, 
 	MEMBER_EMAIL,
 	MEMBER_BIRTH, 
 	MEMBER_PHONE1,
 	MEMBER_PHONE2,
 	MEMBER_ADDR1,
 	MEMBER_ADDR2)
	VALUES(
	#{member_id},
	#{member_name},
	#{member_gender},
	#{member_email},
	TO_DATE(#{member_birth},'YYYYMMDD'),
	#{member_phone1},
	#{member_phone2},
	#{member_addr1},
	#{member_addr2})
 	]]>
 </insert>
 
 <select id="Seobis_MemberList"  parameterType="map"  resultType="com.bit.UntitledBistro.model.seobis.Seobis_MemberDTO">
 	<![CDATA[
 		SELECT
 			 MEMBER_ID, 
 			 MEMBER_NAME, 
 			 MEMBER_GENDER,
 			 MEMBER_BIRTH,
 			 MEMBER_EMAIL,
 			 MEMBER_GRADE, 
 			 MEMBER_ADDR1,
 			 MEMBER_POINT, 
 			 MEMBER_PHONE1 , 
 			 MEMBER_REG 
 		 FROM
 			 MEMBER
	 ]]>
 </select>
 
  <select id="Seobis_MemberListCount" resultType="Integer">
 	<![CDATA[
 		SELECT 
 			COUNT(*) 
 		FROM
 			MEMBER
 	]]>
 </select>

 <delete id="Seobis_MemberDelete" parameterType="com.bit.UntitledBistro.model.seobis.Seobis_MemberDTO">
	<![CDATA[
		DELETE FROM MEMBER 
		WHERE MEMBER_ID = #{member_id}
	]]>
 </delete>

 <update id="Seobis_MemberUpdate" parameterType="com.bit.UntitledBistro.model.seobis.Seobis_MemberDTO">
	<![CDATA[
		UPDATE MEMBER 
		SET 
			MEMBER_NAME = #{member_name}, 
			MEMBER_GENDER = #{member_gender},
			MEMBER_BIRTH = #{member_birth},
			MEMBER_EMAIL = #{member_email},
			MEMBER_PHONE1 = #{member_phone1},
			MEMBER_PHONE2 = #{member_phone2},
			MEMBER_ADDR1 = #{member_addr1},
			MEMBER_ADDR2 = #{member_addr2}
		WHERE 
			MEMBER_ID = #{member_id}
	]]>
 </update>
 
 <select id="Seobis_MemberSelect" parameterType="String"  resultType="com.bit.UntitledBistro.model.seobis.Seobis_MemberDTO">
 	<![CDATA[
 		SELECT 
			MEMBER_ID,
 			MEMBER_NAME,
 			MEMBER_GENDER,
 		 	MEMBER_BIRTH,
 		 	MEMBER_EMAIL,
 		 	MEMBER_PHONE1,
 		 	MEMBER_PHONE2,
 		 	MEMBER_ADDR1,
 		 	MEMBER_ADDR2,
 		 	MEMBER_GRADE,
 		 	MEMBER_POINT,
 		 	MEMBER_REG 
		FROM 
			MEMBER 
		WHERE MEMBER_ID=#{member_id}
 	]]>
 </select>
</mapper>