<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.bit.UntitledBistro.model.jungsan.Jungsan_view_DAO">

	<insert id="insert_Initial_value">
		INSERT INTO JUNGSAN_STATE VALUES
		(0,0,0,0,0,0,0,0,NOW())
	</insert>

	<insert id="insert_Initial_value2">
		INSERT INTO JUNGSAN_STATE VALUES
		(0,0,0,0,0,0,0,0,DATE_SUB(NOW(), INTERVAL 1 DAY))
	</insert>

	<update id="update_state">
		UPDATE 
			JUNGSAN_STATE 
		SET 
			TO_TOTAL = (
						(
						SELECT 
							IFNULL(SUM(PAYMENT_CASH),0) 
						FROM 
							PAYMENT 
						WHERE 
							PAYMENT_DATE LIKE DATE_FORMAT(NOW(),'%Y-%c-%d')
						AND 
							PAYMENT_STATE ='성공'
						)
					+
						(
						SELECT 
							IFNULL(SUM(PAYMENT_CARD),0) 
						FROM 
							PAYMENT 
						WHERE 
							PAYMENT_DATE LIKE DATE_FORMAT(NOW(),'%Y-%c-%d')
						AND 
							PAYMENT_STATE ='성공'
						)
					+
						(
						SELECT 
							IFNULL(SUM(PAYMENT_POINT),0) 
						FROM 
							PAYMENT 
						WHERE 
							PAYMENT_DATE LIKE DATE_FORMAT(NOW(),'%Y-%c-%d')
						AND 
							PAYMENT_STATE ='성공'
						)
					   )
					   
			,TO_CASH = (
						SELECT 
							IFNULL(SUM(PAYMENT_CASH),0) 
						FROM 
							PAYMENT 
						WHERE
							PAYMENT_DATE LIKE DATE_FORMAT(NOW(),'%Y-%c-%d')
						AND 
							PAYMENT_STATE = '성공'
						)
			,TO_CARD = (
						SELECT 
							IFNULL(SUM(PAYMENT_CARD),0) 
						FROM 
							PAYMENT 
						WHERE 
							PAYMENT_DATE LIKE DATE_FORMAT(NOW(),'%Y-%c-%d')
						AND 
							PAYMENT_STATE ='성공'
						)
			,TO_POINT = (
						SELECT 
							IFNULL(SUM(PAYMENT_POINT),0) 
						FROM 
							PAYMENT 
						WHERE
							PAYMENT_DATE LIKE DATE_FORMAT(NOW(),'%Y-%c-%d')
						AND 
							PAYMENT_STATE = '성공'
						)
			,BEFORE_TOTAL = (
						(SELECT 
							IFNULL(SUM(PAYMENT_CASH),0) 
						FROM 
							PAYMENT 
						WHERE 
							PAYMENT_DATE LIKE DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY),'%Y-%c-%d')
						AND 
							PAYMENT_STATE ='성공'
						)
		+(select IFNULL(sum(payment_card),0) from payment where payment_date like
		DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY),'%Y-%c-%d')and PAYMENT_STATE ='성공')
		+(select IFNULL(sum(payment_point),0) from payment where payment_date like
		DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY),'%Y-%c-%d')and PAYMENT_STATE ='성공'))
		,before_cash=(select IFNULL(sum(payment_cash),0) from payment where
		payment_date like DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY),'%Y-%c-%d')and PAYMENT_STATE
		='성공')
		,before_card=(select IFNULL(sum(payment_card),0) from payment where payment_date like
		DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY),'%Y-%c-%d')and PAYMENT_STATE ='성공')
		,before_point=(select IFNULL(sum(payment_point),0) from payment where
		payment_date like DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY),'%Y-%c-%d')and PAYMENT_STATE
		='성공')
		,state_date=(NOW())
	</update>

	<delete id="delete_state">
	 <![CDATA[
	 delete from JUNGSAN_STATE a where rowid < (select max(rowid) 
	from JUNGSAN_STATE b where a.state_date != b.state_date)
	]]>
	</delete>

	<select id="jungsan_state"
		resultType="com.bit.UntitledBistro.model.jungsan.Jungsan_view_DTO">
		select * from JUNGSAN_STATE
	</select>

	<select id="today_total" resultType="int">
		select IFNULL(sum(payment_cash+payment_card+payment_point),0)
		from payment where payment_date like DATE_FORMAT(NOW(),'%Y-%c-%d')
	</select>

	<select id="before_total" resultType="int">
		select IFNULL(sum(payment_cash+payment_card+payment_point),0) from payment
		where payment_date like DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY),'%Y-%c-%d')
	</select>

	<select id="befor_cash" resultType="int">
		select IFNULL(sum(payment_cash),0) from PAYMENT where payment_date like
		DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY),'%Y-%c-%d')
		and PAYMENT_STATE ='성공'
	</select>

	<select id="befor_card" resultType="int">
		select IFNULL(sum(payment_card),0) from PAYMENT where payment_date like
		DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY),'%Y-%c-%d')
		and PAYMENT_STATE ='성공'
	</select>

	<select id="befor_point" resultType="int">
		select IFNULL(sum(payment_point),0) from PAYMENT where payment_date like
		DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY),'%Y-%c-%d')
		and PAYMENT_STATE ='성공'
	</select>

	<select id="today_cash" resultType="int">
		select IFNULL(sum(payment_cash),0) from PAYMENT where payment_date like
		DATE_FORMAT(NOW(),'%Y-%c-%d')
		and PAYMENT_STATE ='성공'
	</select>

	<select id="today_card" resultType="int">
		select IFNULL(sum(payment_card),0) from PAYMENT where payment_date like
		DATE_FORMAT(NOW(),'%Y-%c-%d')
		and PAYMENT_STATE ='성공'
	</select>

	<select id="today_point" resultType="int">
		select IFNULL(sum(payment_point),0) from PAYMENT where payment_date like
		DATE_FORMAT(NOW(),'%Y-%c-%d')
		and PAYMENT_STATE ='성공'
	</select>

	<select id="menucount_total" resultType="int">
		select IFNULL(sum(sd_qty),0)
		from SALES_DETAILS where (sd_menu_code like 'MN1' or sd_menu_code like
		'MN2') and SD_SALES_NO in
		(select PAYMENT_SALES_NO from PAYMENT where PAYMENT_DATE like
		DATE_FORMAT(NOW(),'%Y-%c-%d')and PAYMENT_STATE ='성공')
	</select>

	<select id="menucount_soup" resultType="int">
		SELECT
		IFNULL(sum(s.sd_qty),0)
		FROM MENU m,SALES_DETAILS s
		WHERE m.menu_code = s.sd_menu_code and (menu_mt_code like 'MT3') and
		SD_SALES_NO in
		(select PAYMENT_SALES_NO from PAYMENT where PAYMENT_DATE like
		DATE_FORMAT(NOW(),'%Y-%c-%d')and
		PAYMENT_STATE ='성공')
	</select>

	<select id="menucount_drink" resultType="int">
		SELECT
		IFNULL(sum(s.sd_qty),0)
		FROM MENU m,SALES_DETAILS s
		WHERE m.menu_code = s.sd_menu_code and (menu_mt_code like 'MT2') and
		SD_SALES_NO in
		(select PAYMENT_SALES_NO from PAYMENT where PAYMENT_DATE like
		DATE_FORMAT(NOW(),'%Y-%c-%d')and
		PAYMENT_STATE ='성공')
	</select>

	<select id="menucount_cooking" resultType="int">
		SELECT IFNULL(sum(s.sd_qty),0)
		FROM MENU m,SALES_DETAILS s
		WHERE m.menu_code = s.sd_menu_code and (menu_mt_code like 'MT1') and
		SD_SALES_NO in
		(select PAYMENT_SALES_NO from PAYMENT where PAYMENT_DATE like
		DATE_FORMAT(NOW(),'%Y-%c-%d')and
		PAYMENT_STATE ='성공')
	</select>

	<select id="befor_drink" resultType="int">
		SELECT
		IFNULL(sum(s.sd_qty),0)
		FROM MENU m,SALES_DETAILS s
		WHERE m.menu_code = s.sd_menu_code and (menu_mt_code like 'MT2') and
		SD_SALES_NO in
		(select PAYMENT_SALES_NO from PAYMENT where PAYMENT_DATE like
		DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY),'%Y-%c-%d')and
		PAYMENT_STATE ='성공')
	</select>

	<select id="befor_cooking" resultType="int">
		SELECT IFNULL(sum(s.sd_qty),0)
		FROM MENU m,SALES_DETAILS s
		WHERE m.menu_code = s.sd_menu_code and (menu_mt_code like 'MT1') and
		SD_SALES_NO in
		(select PAYMENT_SALES_NO from PAYMENT where PAYMENT_DATE like
		DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY),'%Y-%c-%d')and
		PAYMENT_STATE ='성공')
	</select>

	<select id="befor_soup" resultType="int">
		SELECT
		IFNULL(sum(s.sd_qty),0)
		FROM MENU m,SALES_DETAILS s
		WHERE m.menu_code = s.sd_menu_code and (menu_mt_code like 'MT3') and
		SD_SALES_NO in
		(select PAYMENT_SALES_NO from PAYMENT where PAYMENT_DATE like
		DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY),'%Y-%c-%d')and
		PAYMENT_STATE ='성공')
	</select>

	<select id="last_week_drink" resultType="int">
		SELECT
		IFNULL(sum(s.sd_qty),0)
		FROM MENU m,SALES_DETAILS s
		WHERE m.menu_code = s.sd_menu_code and (menu_mt_code like 'MT2') and
		SD_SALES_NO in
		(select PAYMENT_SALES_NO from PAYMENT where PAYMENT_DATE like
		DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 7 DAY),'%Y-%c-%d')and
		PAYMENT_STATE ='성공')
	</select>

	<select id="last_week_cooking" resultType="int">
		SELECT IFNULL(sum(s.sd_qty),0)
		FROM MENU m,SALES_DETAILS s
		WHERE m.menu_code = s.sd_menu_code and (menu_mt_code like 'MT1') and
		SD_SALES_NO in
		(select PAYMENT_SALES_NO from PAYMENT where PAYMENT_DATE like
		DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 7 DAY),'%Y-%c-%d')and
		PAYMENT_STATE ='성공')
	</select>

	<select id="last_week_soup" resultType="int">
		SELECT
		IFNULL(sum(s.sd_qty),0)
		FROM MENU m,SALES_DETAILS s
		WHERE m.menu_code = s.sd_menu_code and (menu_mt_code like 'MT3') and
		SD_SALES_NO in
		(select PAYMENT_SALES_NO from PAYMENT where PAYMENT_DATE like
		DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 7 DAY),'%Y-%c-%d')and
		PAYMENT_STATE ='성공')
	</select>

	<select id="Monday" resultType="int">
		SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0) FROM PAYMENT 
		WHERE PAYMENT_DATE BETWEEN
			(SELECT DISTINCT DATE_FORMAT(CURDATE(),'%c')FROM PAYMENT) 
			AND
			(SELECT DISTINCT DATE_FORMAT(DATE_ADD(LAST_DAY(NOW()), INTERVAL 1 DAY),'%Y/%c/%d') FROM PAYMENT) 
		AND
			PAYMENT_DATE LIKE DATE_FORMAT((SELECT DATE_ADD(DATE_SUB(CURDATE(), INTERVAL 7 DAY), INTERVAL (DAYOFWEEK(CURDATE())-2) * -1 DAY)),'%Y-%c-%d')
		AND 
			PAYMENT_STATE ='성공'
	</select>

	<select id="Tuesday" resultType="int">
		SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0) FROM PAYMENT 
		WHERE PAYMENT_DATE BETWEEN
			(SELECT DISTINCT DATE_FORMAT(CURDATE(),'%c')FROM PAYMENT) 
			AND
			(SELECT DISTINCT DATE_FORMAT(DATE_ADD(LAST_DAY(NOW()), INTERVAL 1 DAY),'%Y/%c/%d') FROM PAYMENT) 
		AND
			PAYMENT_DATE LIKE DATE_FORMAT((SELECT DATE_ADD(DATE_SUB(CURDATE(), INTERVAL 7 DAY), INTERVAL (DAYOFWEEK(CURDATE())-3) * -1 DAY)),'%Y-%c-%d')
		AND 
			PAYMENT_STATE ='성공'
	</select>

	<select id="Thursday" resultType="int">
		SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0) FROM PAYMENT 
		WHERE PAYMENT_DATE BETWEEN
			(SELECT DISTINCT DATE_FORMAT(CURDATE(),'%c')FROM PAYMENT) 
			AND
			(SELECT DISTINCT DATE_FORMAT(DATE_ADD(LAST_DAY(NOW()), INTERVAL 1 DAY),'%Y/%c/%d') FROM PAYMENT) 
		AND
			PAYMENT_DATE LIKE DATE_FORMAT((SELECT DATE_ADD(DATE_SUB(CURDATE(), INTERVAL 7 DAY), INTERVAL (DAYOFWEEK(CURDATE())-4) * -1 DAY)),'%Y-%c-%d')
		AND 
			PAYMENT_STATE ='성공'
	</select>

	<select id="Wednesday" resultType="int">
		SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0) FROM PAYMENT 
		WHERE PAYMENT_DATE BETWEEN
			(SELECT DISTINCT DATE_FORMAT(CURDATE(),'%c')FROM PAYMENT) 
			AND
			(SELECT DISTINCT DATE_FORMAT(DATE_ADD(LAST_DAY(NOW()), INTERVAL 1 DAY),'%Y/%c/%d') FROM PAYMENT) 
		AND
			PAYMENT_DATE LIKE DATE_FORMAT((SELECT DATE_ADD(DATE_SUB(CURDATE(), INTERVAL 7 DAY), INTERVAL (DAYOFWEEK(CURDATE())-5) * -1 DAY)),'%Y-%c-%d')
		AND 
			PAYMENT_STATE ='성공'
	</select>

	<select id="Friday" resultType="int">
		SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0) FROM PAYMENT 
		WHERE PAYMENT_DATE BETWEEN
			(SELECT DISTINCT DATE_FORMAT(CURDATE(),'%c')FROM PAYMENT) 
			AND
			(SELECT DISTINCT DATE_FORMAT(DATE_ADD(LAST_DAY(NOW()), INTERVAL 1 DAY),'%Y/%c/%d') FROM PAYMENT) 
		AND
			PAYMENT_DATE LIKE DATE_FORMAT((SELECT DATE_ADD(DATE_SUB(CURDATE(), INTERVAL 7 DAY), INTERVAL (DAYOFWEEK(CURDATE())-6) * -1 DAY)),'%Y-%c-%d')
		AND 
			PAYMENT_STATE ='성공'
	</select>

	<select id="Saturday" resultType="int">
		SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0) FROM PAYMENT 
		WHERE PAYMENT_DATE BETWEEN
			(SELECT DISTINCT DATE_FORMAT(CURDATE(),'%c')FROM PAYMENT) 
			AND
			(SELECT DISTINCT DATE_FORMAT(DATE_ADD(LAST_DAY(NOW()), INTERVAL 1 DAY),'%Y/%c/%d') FROM PAYMENT) 
		AND
			PAYMENT_DATE LIKE DATE_FORMAT((SELECT DATE_ADD(DATE_SUB(CURDATE(), INTERVAL 7 DAY), INTERVAL (DAYOFWEEK(CURDATE())-7) * -1 DAY)),'%Y-%c-%d')
		AND 
			PAYMENT_STATE ='성공'
	</select>

	<select id="Sunday" resultType="int">
		SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0) FROM PAYMENT 
		WHERE PAYMENT_DATE BETWEEN
			(SELECT DISTINCT DATE_FORMAT(CURDATE(),'%c')FROM PAYMENT) 
			AND
			(SELECT DISTINCT DATE_FORMAT(DATE_ADD(LAST_DAY(NOW()), INTERVAL 1 DAY),'%Y/%c/%d') FROM PAYMENT) 
		AND
			PAYMENT_DATE LIKE DATE_FORMAT((SELECT DATE_ADD(DATE_SUB(CURDATE(), INTERVAL 7 DAY), INTERVAL (DAYOFWEEK(CURDATE())-8) * -1 DAY)),'%Y-%c-%d')
		AND 
			PAYMENT_STATE ='성공'
	</select>


	<select id="today_one_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 0100 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 0200
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_two_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 0200 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 0300
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_three_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 0300 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 0400
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_four_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 0400 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 0500
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_five_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 0500 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 0600
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_six_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 0600 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 0700
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_seven_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 0700 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 0800
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_eight_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 0800 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 0900
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_nine_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 0900 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 1000
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_ten_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 1000 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 1100
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_eleven_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 1100 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 1200
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_twelve_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 1200 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 1300
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_thirteen_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 1300 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 1400
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_fourteen_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 1400 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 1500
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_fifteen_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 1500 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 1600
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_sixteen_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 1600 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 1700
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_seventeen_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 1700 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 1800
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_eighteen_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 1800 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 1900
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_nineteen_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 1900 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 2000
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_twenty_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 2000 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 2100
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_twentyone_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 2100 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 2200
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_twentytwo_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 2200 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 2300
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_twentythree_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(sum(payment_cash+payment_card+payment_point),0)FROM payment
     WHERE payment_date BETWEEN 
	     DATE_FORMAT(NOW(), '%Y-%c-%d')
							 AND 
  		 DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND (
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 2300 
	 	 AND 
	 	 CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 2400
		 )
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="today_zero_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 0000
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 0100
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_one_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 0100
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 0200
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_two_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 0200
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 0300
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_three_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 0300
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 0400
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_four_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 0400
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 0500
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_five_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 0500
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 0600
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_six_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 0600
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 0700
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_seven_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 0700
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 0800
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_eight_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 0800
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 0900
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_nine_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 0900
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 1000
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_ten_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 1000
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 1100
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_eleven_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 1100
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 1200
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_twelve_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 1200
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 1300
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_thirteen_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 1300
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 1400
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_fourteen_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 1400
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 1500
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_fifteen_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 1500
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 1600
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_sixteen_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 1600
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 1700
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_seventeen_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 1700
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 1800
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_eighteen_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 1800
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 1900
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_nineteen_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 1900
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 2000
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_twenty_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 2000
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 2100
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_twentyone_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 2100
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 2200
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_twentytwo_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 2200
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 2300
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_twentythree_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 2300
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 2400
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>

	<select id="yesterday_zero_Oclock" resultType="int">
	 <![CDATA[
	 SELECT IFNULL(SUM(PAYMENT_CASH+PAYMENT_CARD+PAYMENT_POINT),0)FROM PAYMENT
     WHERE PAYMENT_DATE BETWEEN 
     DATE_FORMAT(NOW(), '%Y-%c-%d')
	 	AND 
     DATE_ADD(DATE_FORMAT(NOW(), '%Y-%c-%d'), INTERVAL 0.99999 DAY)
     AND 
	 	( 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) >= 2400
    	AND 
		CAST(DATE_FORMAT(payment_date, '%H%i%s') AS UNSIGNED) < 2500
		) 
	 AND PAYMENT_STATE ='성공'
    ]]>
	</select>
	
	<select id="expenditure" resultType="int">
	SELECT IFNULL(SUM(ORDER_PR_EA*ORDER_QT),0)
	FROM ORDER_INPUT 
	INNER JOIN ORDERLIST 
	ON ORDIN_NUM = ORDER_ORDIN_NUM
	WHERE ORDIN_END ='종결' AND ORDIN_DATE BETWEEN (select DISTINCT DATE_FORMAT(CURDATE(),'%c') FROM ORDER_INPUT) AND 
	(SELECT DISTINCT DATE_FORMAT(LAST_DAY(NOW()),'%Y/%c/%d') FROM ORDER_INPUT)
	</select>
	
	<select id="worketime" resultType="int">
	SELECT IFNULL(sum(ROUND((schedule_workingend-schedule_workingstart)*60)),0) 
	FROM schedule where schedule_workingstart like DATE_FORMAT(NOW(),'%Y-%c-%d')
	</select>
	
	<select id="parttime" resultType="int">
	select IFNULL(sum(round((e.EmpRegister_paytime)*((sc.schedule_workingend-sc.schedule_workingstart)*60) 
	)),0)from EmpRegister e, schedule sc where e.EMPREGISTER_EMPNUM = sc.SCHEDULE_EMPREGISTER_EMPNUM
	and sc.schedule_workingstart like DATE_FORMAT(NOW(),'%Y-%c-%d')
	and e.EmpRegister_payclassfiy='시급'
	</select>
	
	<select id="employee" resultType="int">
	select IFNULL(sum(e.EmpRegister_payday),0) from EmpRegister e, schedule sc  
	WHERE e.EMPREGISTER_EMPNUM = sc.SCHEDULE_EMPREGISTER_EMPNUM and 
	e.EmpRegister_payclassfiy='월급' and sc.schedule_workingstart like DATE_FORMAT(NOW(),'%Y-%c-%d')
	</select>
	
	<select id="personnel" resultType="int">
	select count(SCHEDULE_EMPREGISTER_EMPNUM) from schedule where SCHEDULE_WORKINGSTART like NOW()
	</select>
	
</mapper> 