<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.UntitledBistro.model.jumun.JumunDAO">

	<select id="menuTypeSelect" parameterType="map" resultType="menuType" >
	SELECT MT_CODE, MT_NAME FROM MENU_TYPE
		<where>
			<if test='mt_Code != "all"'>MT_CODE = #{mt_Code}</if>
		</where>
	ORDER BY MT_CODE
	</select>

	<insert id="menuTypeInsert" >
	INSERT INTO MENU_TYPE(MT_CODE, MT_NAME) VALUES(CONCAT('MT',(SELECT NVL(MAX(SUBSTR(MT_CODE,3)),0)+1 FROM MENU_TYPE)), #{mt_Name})
	</insert>
	
	<delete id="menuTypeDelete" parameterType="map" >
	DELETE FROM MENU_TYPE WHERE MT_CODE = #{mt_Code}
	</delete>
	
	<update id="menuTypeUpdate">
	UPDATE MENU_TYPE SET MT_NAME = #{mt_Name} WHERE MT_CODE = #{mt_Code}
	</update>

	<select id="menuSelect" parameterType="map" resultType="menu" >
	SELECT MENU_CODE, MENU_MT_CODE, MENU_NAME, MENU_PRICE, MENU_IMAGE, MENU_STATE FROM MENU
		<where>
			<if test="menu_Mt_Code != null and menu_Mt_Code != ''">MENU_MT_CODE = #{menu_Mt_Code}</if>
			<if test="menu_Code != null">MENU_CODE = #{menu_Code}</if>
		</where>
	ORDER BY MENU_CODE
	</select>
	
	<select id="menuSelectByMenuName" parameterType="map" resultType="java.lang.String">
	SELECT MENU_CODE FROM MENU WHERE MENU_NAME = #{menu_Name}
	</select>
	
	<insert id="menuInsert" >
	INSERT INTO MENU(MENU_CODE, MENU_MT_CODE, MENU_NAME, MENU_PRICE, MENU_IMAGE, MENU_STATE) 
	VALUES(CONCAT('MN',(SELECT NVL(MAX(SUBSTR(MENU_CODE,3)),0)+1 FROM MENU)), #{menu_Mt_Code}, #{menu_Name}, #{menu_Price}, #{menu_Image}, #{menu_State})
	</insert>

	<delete id="menuDelete" parameterType="map" >
	DELETE FROM MENU
		<where>
			<if test="menu_Code != null">
			MENU_CODE = #{menu_Code}
			</if>
			<if test="menu_Mt_Code != null">
			menu_Mt_Code = #{menu_Mt_Code}
			</if>
		</where>
	</delete>
	
	<select id="ingreSelect" parameterType="map" resultType="ingredient">
		<if test="ingredient_Menu_Code == null">
		SELECT INGREDIENT_PRODUCT_CODE, INGREDIENT_QTY FROM INGREDIENT WHERE INGREDIENT_MENU_CODE = null
		</if>
		<if test="ingredient_Menu_Code != null">
		SELECT INGREDIENT_PRODUCT_CODE, INGREDIENT_QTY FROM INGREDIENT WHERE INGREDIENT_MENU_CODE = #{ingredient_Menu_Code}
		</if>
	</select>
	
	<update id="menuUpdate">
	UPDATE MENU SET MENU_MT_CODE = #{menu_Mt_Code}, MENU_NAME = #{menu_Name}, MENU_PRICE = #{menu_Price}, MENU_IMAGE = #{menu_Image}, MENU_STATE = #{menu_State} WHERE MENU_CODE = #{menu_Code}
	</update>
	
	<insert id="ingreInsert" >
	INSERT INTO INGREDIENT(INGREDIENT_NO, INGREDIENT_MENU_CODE, INGREDIENT_PRODUCT_CODE, INGREDIENT_QTY) 
	VALUES(CONCAT('IGD',(SELECT NVL(MAX(SUBSTR(INGREDIENT_NO,4)),0)+1 FROM INGREDIENT)), #{ingredient_Menu_Code}, #{ingredient_Product_Code}, #{ingredient_Qty})
	</insert>
	
	<delete id="ingreDelete">
		<if test="menu_Mt_Code != null">
		DELETE FROM INGREDIENT WHERE INGREDIENT_NO IN
		(SELECT INGREDIENT_NO FROM MENU LEFT OUTER JOIN INGREDIENT ON MENU.MENU_CODE =
		INGREDIENT.INGREDIENT_MENU_CODE WHERE MENU_MT_CODE = #{menu_Mt_Code})
		</if>
		<if test="ingredient_Menu_Code != null">
		DELETE FROM INGREDIENT WHERE INGREDIENT_MENU_CODE = #{ingredient_Menu_Code}
		</if>
	</delete>
	
	<select id="orderSelect" parameterType="map" resultType="order">
	SELECT ORDER_TABLE, ORDER_FIRST, ORDER_FINAL FROM ORDER_DETAILS WHERE ORDER_NO = #{order_No}
	</select>
	
	<select id="orderDetailSelect" parameterType="map" resultType="orderDetail">
	SELECT OD_NO, OD_MENU_CODE, OD_QTY FROM ORDER_DETAILS WHERE OD_ORDER_NO = #{od_Order_No}
	</select>
	
	<insert id="orderInsert">
	INSERT INTO ORDER(ORDER_NO, ORDER_TABLESAVE_CODE, ORDER_FIRST, ORDER_FINAL) VALUES(#{order_No}, #{order_Tablesave_Code}, #{order_First}, #{order_Fianl})
	</insert>
	
	<select id="tableSelect" resultType="tableSave">
	SELECT TABLESAVE_CODE, TABLESAVE_X, TABLESAVE_Y FROM TABLESAVE
	</select>
	
	<insert id="tableInsert">
	INSERT INTO TABLESAVE(TABLESAVE_CODE, TABLESAVE_X, TABLESAVE_Y) VALUES(#{tableSave_Code}, #{tableSave_X}, #{tableSave_Y})
	</insert>
	
	<delete id="tableDelete">
	DELETE FROM TABLESAVE
	</delete>
	
</mapper>