<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="jaego">
	<select id="itemTotal" resultType="int">
		<![CDATA[
		SELECT 
			COUNT(SUM(ITEM_QTY)) 
		FROM 
			ITEM 
		GROUP BY 
			ITEM_PRODUCT_CODE
		]]>
	</select>

 	<select id="itemSelectAll" parameterType="condition" resultType="item">
<![CDATA[
		SELECT 
			 /*+ INDEX_DESC(ITEM ITEM_PRODUCT_CODE) */
		     ITEM_PRODUCT_CODE
			,PRODUCT_NAME
		    ,ITEM_QTY 
		FROM 
		(
	    	SELECT 
	        	/*+ INDEX_DESC(ITEM PK_ITEM_NO) */ 
	        	 I.ITEM_PRODUCT_CODE					AS ITEM_PRODUCT_CODE
	        	,I.ITEM_QTY								AS ITEM_QTY
	            ,P.PRODUCT_NAME           				AS PRODUCT_NAME
	            ,ROWNUM 								AS RNUM
	        FROM 
	        	(
	        	SELECT 
	        		 ITEM_PRODUCT_CODE
	        		,SUM(ITEM_QTY) ITEM_QTY 
	        	FROM 
	        		ITEM 
]]>
				<where>
			    	<if test="startDate != '' and startDate != null">
<![CDATA[
			        AND ITEM_REGDATE <= TO_DATE(#{startDate},'YYYY/MM/DD')			    	
]]>
			    	</if>
			    </where>
<![CDATA[
	        	GROUP BY 
	        		ITEM_PRODUCT_CODE
	    	) I
	   		INNER JOIN
	    		PRODUCT P
	    	ON
	        	I.ITEM_PRODUCT_CODE = P.PRODUCT_CODE
]]>
	    	<where>
	    	<if test="keyword != '' and keyword != null">
<![CDATA[
	        P.PRODUCT_NAME LIKE '%'||#{keyword}||'%'			    	
]]>
	    	</if>
	    	</where>
<![CDATA[
		) 
		WHERE 
		    RNUM BETWEEN #{startPage} and #{endPage}
]]> 
 	</select>
 	
 	<insert id="itemInsert">
		INSERT INTO ITEM 
		VALUES(#{item_no}, #{item_product_code}, #{item_qty})
 	</insert>
 	
 	<update id="itemUpdate" parameterType="item">
		UPDATE ITEM 
		SET ITEM_PRODUCT_CODE=#{item_product_code}, ITEM_QTY=#{item_qty}
		WHERE ITEM_NO=#{item_no}
 	</update>
 	
 	<delete id="itemDelete" parameterType="item">
 		DELETE ITEM
 		WHERE ITEM_NO=#{item_no}
 	</delete>
 	
</mapper>