<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="jaego">
 	<select id="item_selectAll" resultType="item">
		SELECT * FROM ITEM
 	</select>
 	
 	<insert id="item_insert">
		INSERT INTO ITEM VALUES(#{item_no}, #{item_product_code}, #{item_qty})
 	</insert>
 	
 	<update id="item_update" parameterType="item">
		UPDATE ITEM 
		SET ITEM_PRODUCT_CODE=#{item_product_code}, ITEM_QTY=#{item_qty}
		WHERE ITEM_NO=#{item_no}
 	</update>
</mapper>