<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="jaego">
 	<select id="itemSelectAll" resultType="item">
		SELECT * FROM ITEM
 	</select>
 	
 	<select id="itemSelect" parameterType="item" resultType="item">
 		SELECT * FROM ITEM 
 		<where>
 			<if test="item_no != ''">
 				ITEM_NO LIKE '%'||#{item_no}||'%'
 			</if>
 			<if test="item_product_code != ''">
 				AND ITEM_PRODUCT_CODE LIKE '%'||#{item_product_code}||'%'
 			</if>
 			<if test="item_qty != 0">
 				AND ITEM_QTY LIKE '%'||#{item_qty}||'%'
 			</if>
 		</where>
 	</select>
 	
 	<insert id="itemInsert">
		INSERT INTO ITEM 
		VALUES(#{item_no}, #{item_product_code}, #{item_qty})
 	</insert>
 	
 	<update id="itemUpdate" parameterType="item">
		UPDATE ITEM 
		SET ITEM_PRODUCT_CODE=#{item_product_code}, ITEM_QTY=#{item_qty}
		WHERE ITEM_NO=#{item_no}
 	</update>
 	
 	<delete id="itemDelete" parameterType="item">
 		DELETE ITEM
 		WHERE ITEM_NO=#{item_no}
 	</delete>
</mapper>